body {
  background-color: #bc7f0c;
  font-family: Cormorant SC;
  font-size: 24px;
  font-weight: 400;
  list-style-type: none;
  
}

.header {
  text-align: center;
  margin-top: 32px;
  font-family: "UnifrakturMaguntia", cursive;
  font-weight: 400;
  font-size: 64px;
}
.footer {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(200px, 1fr)
  ); /* Columnas autoajustables */
  gap: 16px;
}
.filter {
  margin-left: 32px;
  width: 264px;
  height: 48px;
  flex-shrink: 0;
  background: #e4d8cb;
  color: #3d3837;
  text-align: center;
  font-family: Cormorant SC;
  font-size: 24px;
}
.sort {
  margin-left: 26px;
  width: 264px;
  height: 48px;
  flex-shrink: 0;
  background: #e4d8cb;
  color: #3d3837;
  text-align: center;
  font-family: Cormorant SC;
  font-size: 24px;
}
.movie-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr minmax(200px, auto) 1fr; /* Espacio en ambos lados de las columnas */
  text-align: center;
}

